.about
  background white
  //margin-top 100px

.about__text
  background white
  margin auto
  max-width 1500px
  padding 50px 75px
  @media all and (max-width 700px)
    padding 35px
  span
    color fontcolor
    font fontsize RobotoRegular
    line-height 1.75em
    @media all and (max-width 750px)
      font .8em RobotoRegular
      line-height 1.75em
    @media all and (min-width 1920px)
      font 1.2em RobotoRegular
      line-height 1.75em

.about__features
  background url('../../pics/backgrounds/city.jpeg')
  background-repeat no-repeat
  background-size cover
  background-position-y top
  overflow auto

.fade-features
  background rgba(0, 0, 0, .75)
  padding 5 10% 20px

.feature
  cursor pointer
  float left
  margin 30px 0
  text-align center
  width 33.3%
  @media all and (max-width 700px)
    width 50%
  @media all and (max-width 600px)
    width 100%
  @media all and (min-width 1920px)
    margin 100px 0
  @media all and (min-width 2000px)
    margin 150px 0
  &:hover
    span
      color fontcolorhover
      transition-duration: 0.2s, 0.2s, 0.2s;
      -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
      -o-transition-duration: 0.2s, 0.2s, 0.2s;
      -moz-transition-duration: 0.2s, 0.2s, 0.2s;
      transition-property: all;
    .feature__strategy
      background-position 0 0
    .feature__creative
      background-position -252px 0
    .feature__design
      background-position -504px 0
    .feature__events
      background-position -756px 0
    .feature__prod
      background-position -1008px 0
    .feature__media
      background-position -1260px 0

.feature__icon
  background url('../../pics/icons/features-3.png')
  display inline-block
  height 185.5px
  width 252px

.feature__strategy
  background-position 0 -186px

.feature__creative
  background-position -252px -186px

.feature__design
  background-position -504px -186px

.feature__events
  background-position -756px -186px

.feature__prod
  background-position -1008px -186px

.feature__media
  background-position -1260px -186px

.feature

.feature__title
  margin-top 15px
  text-align center
  span
    color white
    font fontsize RobotoBold
    @media all and (min-width 1920px)
      font 1.2em RobotoRegular