.contacts
  background url('../../pics/backgrounds/city.jpeg')
  background-repeat no-repeat
  background-size cover
  background-position-y middle
  color white
  overflow auto
  position relative
  width 100%

.fade-contacts
  background rgba(0, 0, 0, 0.5)
  padding 75px 100px 200px
  @media all and (max-width 1050px)
    padding 75px 25px
  @media all and (max-width 650px)
    padding 20px 25px

.contact
  float left
  padding 0 50px
  width 33.3%
  @media all and (max-width 850px)
    padding 0 50px 50px 50px
    width 50%
  @media all and (max-width 650px)
    padding 0 25px 25px 25px
    width 100%

.contact.contact-coop
  @media all and (max-width 850px)
    padding 0 50px 0 50px
  @media all and (max-width 650px)
    padding 0 25px 0 25px

.contact__title
  font fontsize RobotoBold
  @media all and (max-width 650px)
    font .9em RobotoBold
  @media all and (min-width 1920px)
    font 1.2em RobotoBold

.contact__text
  margin-top 25px
  @media all and (max-width 650px)
    margin-top 10px
  i
    font-size 1.1em
    float left
    line-height 1em
    margin-right 5px
    @media all and (max-width 650px)
      font-size 1.2em
    @media all and (min-width 1920px)
      font-size 1.2em
  span
    font fontsize RobotoRegular
    line-height 1em
    @media all and (max-width 650px)
      font-size .8em
    @media all and (min-width 1920px)
      font-size 1.2em

.contact__email
  cursor pointer
  transition-duration: 0.2s, 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s, 0.2s;
  -moz-transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: all;
  &:hover
    color lightskyblue