.intro
  overflow auto
  position relative
  width commonwidth

.intro__background
  position fixed
  width commonwidth
  z-index -1
  video
    width commonwidth

.intro__foreground
  padding 100px 50px 100px
  position relative
  text-align center
  top 0
  @media all and (max-width 750px)
    padding 100px 25px 50px
  @media all and (max-width 550px)
    padding 75px 25px 50px
  @media all and (max-width 500px)
    padding 100px 25px 100px
    text-align left
  @media all and (min-width 1000px)
    padding 200px 75px
  @media all and (min-width 1920px)
    padding 200px 250px
  span
    color white
    font 3em RobotoRegular
    text-shadow 1px 2px 2px black
    @media all and (max-width 1100px)
      font 2.5em RobotoRegular
    @media all and (max-width 850px)
      font 2em RobotoRegular
    @media all and (max-width 700px)
      font 1.5em RobotoRegular
    @media all and (max-width 500px)
      font 1.5em RobotoRegular
      line-height 2em

.intro__img
  display none
  @media all and (max-width 500px)
    display block
    width 1000px

.intro__video
  display block
  @media all and (max-width 500px)
    display none

.loading
  display block
  width commonwidth

#player
  width commonwidth

.mb_YTPBar
  display none !important