.modal
  display none
  height 100%
  left 0
  position fixed
  top 0
  width 100%
  z-index 2000
  .close
    cursor pointer
    position absolute
    right -30px
    top -30px
    i
      color #d0d0d2
      transition-duration: 0.2s, 0.2s, 0.2s;
      -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
      -o-transition-duration: 0.2s, 0.2s, 0.2s;
      -moz-transition-duration: 0.2s, 0.2s, 0.2s;
      transition-property: all;
    &:hover
      i
        color white !important
  .content
    color fontcolor
    font fontsize RobotoRegular
    padding 25px 50px
  //.close-feature
  //  right -30px
  //  top -30px
  //.close-project
  //  right -30px
  //  top -30px


.modal__fade
  background rgba(0, 0, 0, 0.6)
  height 100%
  text-align center
  width 100%

.modal__fade:before
  content ''
  display inline-block
  height 100%
  vertical-align middle

.modal__wrapper
  background white
  box-shadow 0 0 15px 0 #000000
  display inline-block
  position relative
  vertical-align middle

.modal__wrapper-project
  @extends .modal__wrapper
  //@media all and (min-width 1300px)
  //  top 40px

.content-feature
  padding 50px
  width 600px
  @media all and (max-width 650px)
    height auto
    padding 0 20px 10px !important
    width 300px
    .wrp-hlp
      margin-left 50px
      text-align center
    .btn-modal
        margin-top 10px
  @media all and (min-width 1920px)
      width 800px
  .icon
    background url('../../pics/icons/features-3.png')
    display inline-block
    //margin-top 20px
    height 185.5px
    width 252px
  .icon-strategy
    background-position 0 0
  .icon-creative
    background-position -252px 0
  .icon-design
    background-position -504px 0
  .icon-events
    background-position -756px 0
  .icon-prod
    background-position -1008px 0
  .icon-media
    background-position -1260px 0
  .title
    font-size 18px
    margin-top 20px
    @media all and (max-width 650px)
      //float left
      font .9em RobotoBold
    @media all and (min-width 1920px)
      font-size 1.2em
    @media all and (min-width 1920px)
      font-size 1.5em
  .text
    margin-top 30px
    @media all and (max-width 650px)
      font-size .9em
      margin-top 10px
    @media all and (min-width 1920px)
      font-size 1.2em
      line-height 1.5em
    @media all and (min-width 2000px)
      font-size 1.5em

.content-project
  //height 500px
  width 900px
  @media all and (max-width 1050px)
    width 600px
  @media all and (max-width 700px)
    width 500px
  @media all and (max-width 600px)
    padding 10px 10px !important
    width 400px
  @media all and (max-width 500px)
    width 300px
  @media all and (min-width 1600px)
    width 1200px
  @media all and (min-width 1920px)
    width 1600px
  .slider-wrap
    background darkgreen
    height sliderheight
    width 100%
    @media all and (max-width 600px)
      height 250px
  .title
    font 18px RobotoBold
    margin-top 30px
    text-align left
    span
      @media all and (max-width 600px)
        font-size .8em
  .text
    margin-top 20px
    text-align left
    @media all and (max-width 600px)
      margin-top 10px
      span
          font-size 0.8em

.btn-modal
  display inline-block
  margin-top 40px
  @media all and (max-width 650px)
    margin-top 20px
  .button
    background fontcolorhover
    cursor pointer
    height 50px
    width 250px
    text-align center
    transition-duration: 0.2s, 0.2s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
    -o-transition-duration: 0.2s, 0.2s, 0.2s;
    -moz-transition-duration: 0.2s, 0.2s, 0.2s;
    transition-property: all;
    @media all and (max-width 650px)
      height 37px
      width 150px
  .button:hover
    background mediumblue
  span
    color white
    font 1.1em RobotoBold
    line-height 3em
    @media all and (max-width 650px)
      font .8em RobotoBold
      line-height 3em