.modal .content.content-msg-form
    padding 40px 20px 20px 20px
    @media all and (max-width 750px)
        width 600px
    @media all and (max-width 750px)
        width 500px
    @media all and (max-width 550px)
        width 400px
    @media all and (max-width 450px)
        width 300px

.content-msg-form
    .input
        input
            border 1px solid fontcolor
            font fontsize RobotoRegular
            height 40px
            padding 5px
            width 250px
            @media all and (max-width: 750px)
                width 350px
            @media all and (max-width: 450px)
                font-size .8em
                width 250px
    .content__column
        float left
        @media all and (max-width 750px)
            float none
    .message
        float left
        margin-left 50px
        @media all and (max-width 750px)
            float none
            margin 0
        textarea
            border 1px solid fontcolor
            font fontsize RobotoRegular
            height 160px
            padding 5px
            resize none
            @media all and (max-width 750px)
                width 350px
            @media all and (max-width 450px)
                font-size .8em
                width 250px
            @media all and (min-width 1920px)
                height 300px
                width 500px
    button
        border none
    .btn-modal
        margin-top 0 //

.msg-form-item
    margin-bottom 20px

.close-msg
    right 0

.send-msg-success
    margin-top 20px
    text-align center
    span
        color green
        font-size .8em

.send-msg-error
    text-align center
    span
        color red
        font-size .8em