.portfolio
  background white
  overflow auto
  padding 50px 0

.project
  cursor pointer
  float left
  margin-bottom .5%
  position relative
  width 33%
  @media all and (max-width 950px)
    width 49.5%
  @media all and (max-width 600px)
    width 100%

.project__img
  position relative
  img
    display block
    image-rendering auto
    height auto
    width 100%

.project__title
  color white
  height 100%
  padding 2%
  position absolute
  top 0
  width 100%
  span
    display none
    font fontsize RobotoRegular
    @media all and (min-width 1600px)
      font 1.5em RobotoRegular
    @media all and (min-width 1920px)
      font 1.2em RobotoRegular

.project__title:hover
  background rgba(0, 0, 0, 0.2)
  span
    display inline

.project-central
  margin-left .5%
  margin-right .5%

.project-second
  @media all and (max-width 950px)
    margin-left 1%
    margin-right 0


