.slider
  height sliderheight
  margin 0 auto 14px auto
  overflow hidden
  position relative
  width 100%
  img
    height sliderheight

.shield-block
  height sliderheight
  left 102px
  position absolute
  top 0
  width 763px
  z-index 1

.slider-box
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  position relative
  left -693px
  width 3895px

.slider-box._show .slide:first-child + .slide .slide__text
  display block

.slide
  display inline-block
  font-size 0
  margin-left 16px
  height sliderheight
  position relative
  text-align center
  width 759px
  -webkit-transform  translateZ(0)
  -moz-transform  translateZ(0)
  -ms-transform  translateZ(0)
  -o-transform  translateZ(0)
  transform translateZ(0)

.slide._hover
  cursor pointer

.slide__text
  background url(https://hhcdn.ru/ichameleon/26102.png) repeat
  bottom 4px
  color #fff
  display none
  font 24px Arial, Helvetica, sans-serif
  margin-left 0
  padding 15px 0 15px 15px
  position absolute
  width 748px
  z-index 1

.slider__thumbs
  font-size 0
  height 14px
  margin 0 auto 40px
  overflow hidden
  padding-left 1px
  width 123px
  li
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    color rgba(100, 149, 237, 0.6)
    cursor pointer
    display inline-block
    font 35px/13px Arial, Helvetica, sans-serif
    margin-left 7px
  ._act
    color #0100ff
    cursor default



.slick-slide img
  max-height 300px