{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="{% trans 'Naf group - Event-агентство' %}">
    <meta name="description"
          content="{% trans 'Event-агентство NAF media успешно организовывает различные мероприятия. Мы сотрудничаем с такими различными крупными компаниями. Нам доверяют десятки известных личностей. И именно Вы можете стать следующим!' %}">
    <meta name="keywords" content="naf, организация, событие, event, агентство, мероприятие, праздник, москва,
                                   nafmedia, nafgroup, media">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{% trans 'Naf group - Event-агентство' %}">
    <meta name="twitter:title" content="{% trans 'Портфолио' %}">
    <meta name="twitter:description" content="{% trans 'Event-агентство NAF media успешно организовывает различные мероприятия. Мы сотрудничаем с такими различными крупными компаниями. Нам доверяют десятки известных личностей. И именно Вы можете стать следующим!' %}">
    <meta name="twitter:image:src" content="{% static 'pics/logo/logo-mini.png' %}">
    <meta name="twitter:domain" content="nafmedia.ru">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% trans 'Портфолио' %}"/>
    <meta property="og:description" content="{% trans 'Event-агентство NAF media успешно организовывает различные мероприятия. Мы сотрудничаем с такими различными крупными компаниями. Нам доверяют десятки известных личностей. И именно Вы можете стать следующим!' %}"/>
    <meta property="og:image" content="{% static 'pics/logo/logo-mini.png' %}"/>
    <meta property="og:url" content="http://www.nafmedia.ru"/>
    <meta property="og:site_name" content="{% trans 'Naf group - Event-агентство' %}"/>

    <link rel="icon" type="image/png" href="{% static 'pics/logo/logo-icon-16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'pics/logo/logo-icon-32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'pics/logo/logo-icon-64.png' %}" sizes="64x64">
    <link rel="icon" type="image/png" href="{% static 'pics/logo/logo-icon-96.png' %}" sizes="96x96">

    {% block title %}
        <title>
            NAF group
        </title>
    {% endblock %}

    {% block styles %}
        <link type="text/css" rel="stylesheet" href="{% static 'style/build/portfolio.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'distrs/iconfont/material-icons.css' %}">
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        {% block header %}
            <div class="header header-normal js-header">
                <div class="logo logo-normal">
                    <img src="{% static 'pics/logo/logo-mini.png' %}" alt="NAF group">
                </div>

                <div class="hamburger hamburger-normal js-hamburger">
                    <i class="material-icons">
                        menu
                    </i>
                </div>

                <div class="menu menu-normal">
                    <ul>
                        <li data-menu-src="js-about">
                            <h1>
                                {% trans 'ПРО НАС' %}
                            </h1>
                        </li>

                        <li data-menu-src="js-features">
                            <h1>
                                {% trans 'СЕРВИСЫ' %}
                            </h1>
                        </li>

                        <li data-menu-src="js-portfolio">
                            <h1>
                                {% trans 'ПОРТФОЛИО' %}
                            </h1>
                        </li>

                        <li data-menu-src="js-contacts">
                            <h1>
                                {% trans 'КОНТАКТЫ' %}
                            </h1>
                        </li>

                        {% if user.is_authenticated %}
                            <li class="url-admin">
                                <h1>
                                    <a href="{% url 'projects' %}">
                                        ВСЕ ПРОЕКТЫ
                                    </a>
                                </h1>
                            </li>

                            <li class="url-admin">
                                <h1>
                                    <a href="{% url 'create_project' %}">
                                        НОВЫЙ ПРОЕКТ
                                    </a>
                                </h1>
                            </li>
                        {% else %}
{#                            <li>#}
{#                                <form class="langform langform-normal"#}
{#                                      action="{% url 'set_language' %}"#}
{#                                      method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <input name="next" type="hidden" value="{{ redirect_to }}" />#}
{#                                    {% get_available_languages as LANGUAGES %}#}
{#                                    {% get_language_info_list for LANGUAGES as languages %}#}
{#                                    {% for language in languages %}#}
{#                                        <label>#}
{#                                            <input name="language"#}
{#                                                   type="radio"#}
{#                                                   value="{{ language.code }}"#}
{#                                                   onchange="this.form.submit()"#}
{#                                                   class="hidden">#}
{#                                            <img src="{% static 'pics/icons/langs/' %}{{ language.code }}.png"#}
{#                                                 class="lang"#}
{#                                                 alt="{{ language.code }}">#}
{#                                        </label>#}
{#                                    {% endfor %}#}
{#                                </form>#}
{#                            </li>#}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="menu menu-hamburger js-menu-hamburger">
                <ul>
                    <li data-menu-src="js-about">
                        <h2>
                            {% trans 'ПРО НАС' %}
                        </h2>
                    </li>

                    <li data-menu-src="js-features">
                        <h2>
                            {% trans 'СЕРВИСЫ' %}
                        </h2>
                    </li>

                    <li data-menu-src="js-portfolio">
                        <h2>
                            {% trans 'ПОРТФОЛИО' %}
                        </h2>
                    </li>

                    <li data-menu-src="js-contacts">
                        <h2>
                            {% trans 'КОНТАКТЫ' %}
                        </h2>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="url-admin">
                            <h1>
                                <a href="{% url 'projects' %}">
                                    ВСЕ ПРОЕКТЫ
                                </a>
                            </h1>
                        </li>

                        <li class="url-admin">
                            <h1>
                                <a href="{% url 'create_project' %}">
                                    НОВЫЙ ПРОЕКТ
                                </a>
                            </h1>
                        </li>
                    {% else %}
{#                        <li>#}
{#                            <form class="langform langform-hamburger"#}
{#                                  action="{% url 'set_language' %}"#}
{#                                  method="post">#}
{#                                {% csrf_token %}#}
{#                                <input name="next" type="hidden" value="{{ redirect_to }}" />#}
{#                                {% get_available_languages as LANGUAGES %}#}
{#                                {% get_language_info_list for LANGUAGES as languages %}#}
{#                                {% for language in languages %}#}
{#                                    <label>#}
{#                                        <input name="language"#}
{#                                               type="radio"#}
{#                                               value="{{ language.code }}"#}
{#                                               onchange="this.form.submit()"#}
{#                                               class="hidden">#}
{#                                        <img src="{% static 'pics/icons/langs/' %}{{ language.code }}.png"#}
{#                                             class="lang"#}
{#                                             alt="{{ language.code }}">#}
{#                                    </label>#}
{#                                {% endfor %}#}
{#                            </form>#}
{#                        </li>#}
                    {% endif %}
                </ul>
            </div>

            <div class="header header-opacity js-header-opacity">
                <div class="logo logo-opacity">
                    <img src="{% static 'pics/logo/logo-mini.png' %}" class="img-opacity" alt="NAF group">
                </div>

                <div class="menu menu-opacity">
                    <ul>
                        <li data-menu-src="js-about">
                            <h2>
                                {% trans 'ПРО НАС' %}
                            </h2>
                        </li>

                        <li data-menu-src="js-features">
                            <h2>
                                {% trans 'СЕРВИСЫ' %}
                            </h2>
                        </li>

                        <li data-menu-src="js-portfolio">
                            <h2>
                                {% trans 'ПОРТФОЛИО' %}
                            </h2>
                        </li>

                        <li data-menu-src="js-contacts">
                            <h2>
                                {% trans 'КОНТАКТЫ' %}
                            </h2>
                        </li>

                        {% if user.is_authenticated %}
                            <li class="url-admin">
                                <h1>
                                    <a href="{% url 'projects' %}">
                                        ВСЕ ПРОЕКТЫ
                                    </a>
                                </h1>
                            </li>

                            <li class="url-admin">
                                <h1>
                                    <a href="{% url 'create_project' %}">
                                        НОВЫЙ ПРОЕКТ
                                    </a>
                                </h1>
                            </li>
                        {% else %}
{#                            <li>#}
{#                                <form class="langform langform-opacity"#}
{#                                      action="{% url 'set_language' %}"#}
{#                                      method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <input name="next" type="hidden" value="{{ redirect_to }}" />#}
{#                                    {% get_available_languages as LANGUAGES %}#}
{#                                    {% get_language_info_list for LANGUAGES as languages %}#}
{#                                    {% for language in languages %}#}
{#                                        <label>#}
{#                                            <input name="language"#}
{#                                                   type="radio"#}
{#                                                   value="{{ language.code }}"#}
{#                                                   onchange="this.form.submit()"#}
{#                                                   class="hidden">#}
{#                                            <img src="{% static 'pics/icons/langs/' %}{{ language.code }}.png"#}
{#                                                 class="lang"#}
{#                                                 alt="{{ language.code }}">#}
{#                                        </label>#}
{#                                    {% endfor %}#}
{#                                </form>#}
{#                            </li>#}
                        {% endif %}
                    </ul>
                </div>

                <div class="hamburger hamburger-opacity js-hamburger-opacity">
                    <i class="material-icons">
                        menu
                    </i>
                </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'distrs/jquery-3.2.0.min.js' %}"></script>

    {% block scripts %}
    {% endblock %}

    <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "Organization",
            "url" : "http://www.nafmedia.org",
            "name" : "NAF media",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Moscow, Russia",
                "streetAddress": "7s1 Malaya Pereyaslavskaya avenue"
            },
            "contactPoint" : [
                {
                    "@type" : "ContactPoint",
                    "telephone" : "+7-910-480-05-59",
                    "contactType" : "Sales"
                }, {
                    "@type" : "ContactPoint",
                    "email" : "sales@nafmedia.ru",
                    "contactType" : "Sales"
                }, {
                    "@type" : "ContactPoint",
                    "email" : "coop@nafmedia.ru",
                    "contactType" : "Cooperation"
                }
            ]
        }
    </script>
</body>
</html>