{% extends 'portfolio/base.html' %}
{% load staticfiles thumbnail i18n%}

{% block styles %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static 'distrs/slick/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'distrs/slick/theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'distrs/YTPlayer/jquery.mb.YTPlayer.min.css' %}"/>
{% endblock %}

{% block content %}
<div class="intro">
    <div class="intro__background">
        <div class="intro__video js-intro-video">
            <div id="ytplayer" class="player" data-property="{
            containment:'body',
            videoURL:'7lVkgjlDXfE',
            startAt:0,
            mute:true,
            autoPlay:true,
            loop:true,
            opacity:1,
            quality:'hd720'
            }"></div>
        </div>

        <img src="{% static 'pics/backgrounds/intro.png' %}" class="loading">

        <img src="{% static 'pics/backgrounds/intro.png' %}" class="intro__img js-intro-img">
    </div>

    <div class="intro__foreground">
        <span>
            {% blocktrans %}
                Дорогие клиенты!<br>
                Мы благодарим вас за возможность исполнять<br>
                захватывающе интересные проекты и<br>
                помогать в развитии вашего бизнеса.<br>
                Уже 16 лет доверия!
            {% endblocktrans %}
        </span>
    </div>
</div>

<div class="about">
    <div class="about__text" data-menu-dest="js-about">
        <span>
            <h3>ПРО НАС</h3>

            <br>
            Рекламное агентство NAF появилось на свет в 2002 году.
            Первые наши шаги сразу были твердыми -
            уже через несколько лет постоянными клиентами NAF стали международные кинодистрибьюторы,
            операторы сотовой связи и телекоммуникационные компании, банковские структуры,
            девелоперские и управляющие компании, косметические и модные бренды.
            <br>
            Планируя и выполняя коммуникации мы стараемся отстраиваться от стереотипов.
            Мы точно знаем - выигрывают светлые стратегии и энергичные ходы.
            Насыщенность конкурентной среды провоцирует нас на создание незаурядных подходов к реализации проектов,
            побуждает уделять особое внимание развитию продуктивного и честного диалога между продавцами и потребителями.
            <br>
            <br>

            <h3>МИССИЯ</h3>

            <br>
            Мы живем для того, чтобы наши клиенты добивались успеха быстро, легко и красиво.
            <br>
            Ежедневно каждый из нас вносит большой вклад в развитие клиентов и агентства,
            постоянно улучшая качество услуг и расширяя их спектр.
            <br>
            <br>

            <h3>УСЛУГИ</h3>

            <br>
            Наши услуги включают (но не ограничиваются):
            <br>
            <ul>
                <li>маркетинговые исследования</li>
                <li>стратегическое планирование</li>
                <li>творческое обслуживание</li>
                <li>медиаобслуживание 360 градусов</li>
                <li>развитие связей с общественностью</li>
                <li>производство</li>
                <li>BTL & EVENTS</li>
            </ul>
        </span>
    </div>

    <div class="about__features" data-menu-dest="js-features">
        <div class="fade fade-features">
            <div class="feature js-feature" data-modal-src="js-feature-strategy">
                <div class="feature__icon feature__strategy">

                </div>

                <div class="feature__title">
                    <span>
                        {% trans 'СТРАТЕГИЯ' %}
                    </span>
                </div>
            </div>

            <div class="feature" data-modal-src="js-feature-creative">
                <div class="feature__icon feature__creative">

                </div>

                <div class="feature__title">
                    <span>
                        {% trans 'КРЕАТИВ' %}
                    </span>
                </div>
            </div>

            <div class="feature" data-modal-src="js-feature-design">
                <div class="feature__icon feature__design">

                </div>

                <div class="feature__title">
                    <span>
                        {% trans 'ДИЗАЙН' %}
                    </span>
                </div>
            </div>

            <div class="feature" data-modal-src="js-feature-events">
                <div class="feature__icon feature__events">

                </div>

                <div class="feature__title">
                    <span>
                        {% trans 'СОБЫТИЯ' %}
                    </span>
                </div>
            </div>

            <div class="feature" data-modal-src="js-feature-prod">
                <div class="feature__icon feature__prod">

                </div>

                <div class="feature__title">
                    <span>
                        {% trans 'ПРОИЗВОДСТВО' %}
                    </span>
                </div>
            </div>

            <div class="feature" data-modal-src="js-feature-media">
                <div class="feature__icon feature__media">

                </div>

                <div class="feature__title">
                    <span>
                        {% trans 'МЕДИА' %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio" data-menu-dest="js-portfolio">
    {% for project in projects %}
        <div class="project js-project" data-project="{{ project.id }}">
            <div class="project__img">
                <img src="{{ project.th_url }}" alt="{{ project.title }}">

                <div class="project__title">
                    <span>
                        {{ project.title }}
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="contacts" data-menu-dest="js-contacts">
    <div class="fade fade-contacts">
        <div class="contact">
            <div class="contact__title js-contact-title">
                {% trans 'ОФИС' %}
            </div>

            <div class="contact__text">
                <i class="material-icons">place</i>

                <span>
                    {% trans 'г. Москва, ул. Малая Переяславская, 7, строение 1' %}
                </span>
            </div>
        </div>

        <div class="contact">
            <div class="contact__title js-contact-title">
                {% trans 'ПРОДАЖИ' %}
            </div>

            <div class="contact__text">
                <i class="material-icons">phone</i>

                <span>
                    +7 910 480 05 59
                </span>
            </div>

            <div class="contact__text contact__email" data-msg="js-sales">
                <i class="material-icons">email</i>

                <span>
                    sales@nafmedia.ru
                </span>
            </div>
        </div>

        <div class="contact contact-coop">
            <div class="contact__title js-contact-title">
                {% trans 'СОТРУДНИЧЕСТВО' %}
            </div>

            <div class="contact__text contact__email" data-msg="js-coop">
                <i class="material-icons">email</i>

                <span>
                    coop@nafmedia.ru
                </span>
            </div>
        </div>

        <div class="langswitcher">
            <form class="langform"
                  action="{% url 'set_language' %}"
                  method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <label class="lang">
                        <input name="language"
                               type="radio"
                               value="{{ language.code }}"
                               onchange="this.form.submit()"
                               class="hidden">
                        {{ language.name_local }}
                    </label>
                {% endfor %}
            </form>
        </div>
    </div>
</div>

<div class="modal js-modal" data-modal-dest="js-feature-strategy">
    <div class="modal__fade js-modal-fade"><div class="modal__wrapper">
            <div class="close close-feature js-close">
                <i class="material-icons">clear</i>
            </div>

            <div class="content content-feature">
                <div class="icon icon-strategy">

                </div>

                <div class="title">
                    <span>
                        {% trans 'СТРАТЕГИЯ' %}
                    </span>
                </div>

                <div class="clearfix"></div>

                <div class="text">
                    <span>
                        {% blocktrans %}
                            Наши стратеги остры на ум и въедливы до деталей.
                            Мы знаем, какие средства коммуникации использовать и с какой силой воздействовать.
                            Мы можем четко обосновать рекомендации и спрогнозировать эффект. Поэтому мы попадаем точно в цель.
                        {% endblocktrans %}
                    </span>
                </div>

                <div class="btn-modal">
                    <div class="button js-move-to-contacts">
                        <span>
                            {% trans 'Связаться с нами!' %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" data-modal-dest="js-feature-creative">
    <div class="modal__fade js-modal-fade"><div class="modal__wrapper">
            <div class="close close-feature js-close">
                <i class="material-icons">clear</i>
            </div>

            <div class="content content-feature">
                <div class="icon icon-creative">

                </div>

                <div class="title">
                    <span>
                        {% trans 'КРЕАТИВ' %}
                    </span>
                </div>

                <div class="clearfix"></div>

                <div class="text">
                    <span>
                        {% blocktrans %}
                            Популяции истинно оригинальных идей малочисленны, а особи очень прыткие.
                            Но наши креаторы умеют их ловить, готовить и вовремя подавать.
                            Да, такая гастрономия бывает приправлена самолюбием поваров, но,
                            что делать - творческий ресурс едва ли не главный ресурс агентства.
                        {% endblocktrans %}
                    </span>
                </div>

                <div class="btn-modal">
                    <div class="button js-move-to-contacts">
                        <span>
                            {% trans 'Связаться с нами!' %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" data-modal-dest="js-feature-design">
    <div class="modal__fade js-modal-fade"><div class="modal__wrapper">
            <div class="close close-feature js-close">
                <i class="material-icons">clear</i>
            </div>

            <div class="content content-feature">
                <div class="icon icon-design">

                </div>

                <div class="title">
                    <span>
                        {% trans 'ДИЗАЙН' %}
                    </span>
                </div>

                <div class="clearfix"></div>

                <div class="text">
                    <span>
                        {% blocktrans %}
                            Дизайнеры NAF Group линиями и цветом обращают квинтэссенцию идей,
                            свойств и преимуществ продукта в форму привлекательного и запоминающегося образа.
                            Дизайн от NAF Group характерно заметный, понятный и полезный.
                        {% endblocktrans %}
                    </span>
                </div>

                <div class="btn-modal">
                    <div class="button js-move-to-contacts">
                        <span>
                            {% trans 'Связаться с нами!' %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" data-modal-dest="js-feature-events">
    <div class="modal__fade js-modal-fade"><div class="modal__wrapper">
            <div class="close close-feature js-close">
                <i class="material-icons">clear</i>
            </div>

            <div class="content content-feature">
                <div class="icon icon-events">

                </div>

                <div class="title">
                    <span>
                        {% trans 'СОБЫТИЯ' %}
                    </span>
                </div>

                <div class="clearfix"></div>

                <div class="text">
                    <span>
                        {% blocktrans %}
                            Мы пишем и исполняем события, как грандиозные музыкальные произведения.
                            Дерзкие, вкусные концептуальные пассажи, смелые технические партии,
                            исключительные артистические этюды - для наших клиентов это мощное и
                            стройное звучание с первых минут, волнующее предвкушение, ослепительная кульминация и
                            необычайная радость в финале.
                        {% endblocktrans %}
                    </span>
                </div>

                <div class="btn-modal">
                    <div class="button js-move-to-contacts">
                        <span>
                            {% trans 'Связаться с нами!' %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" data-modal-dest="js-feature-prod">
    <div class="modal__fade js-modal-fade"><div class="modal__wrapper">
            <div class="close close-feature js-close">
                <i class="material-icons">clear</i>
            </div>

            <div class="content content-feature">
                <div class="icon icon-prod">

                </div>

                <div class="title">
                    <span>
                        {% trans 'ПРОИЗВОДСТВО' %}
                    </span>
                </div>

                <div class="clearfix"></div>

                <div class="text">
                    <span>
                        {% blocktrans %}
                            Мы рады делиться нашей экспертизой в секторе производства фото и видео продукции,
                            электронного контента, специальных рекламных конструкций и материалов, печатной и
                            сувенирной продукции. Давние отношения с прямыми производителями дают нам возможность
                            поддерживать ласковые цены при высоком качестве продукции.
                        {% endblocktrans %}
                    </span>
                </div>

                <div class="btn-modal">
                    <div class="button js-move-to-contacts">
                        <span>
                            {% trans 'Связаться с нами!' %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" data-modal-dest="js-feature-media">
    <div class="modal__fade js-modal-fade"><div class="modal__wrapper">
            <div class="close close-feature js-close">
                <i class="material-icons">clear</i>
            </div>

            <div class="content content-feature">
                <div class="icon icon-media">

                </div>

                <div class="title">
                    <span>
                        {% trans 'МЕДИА' %}
                    </span>
                </div>

                <div class="text">
                    <span>
                        {% blocktrans %}
                            Индивидуальные коммуникационные решения, полновесное и адекватное присутствие торговых марок
                            в медиа-каналах – так мы помогаем клиентам достигать установленных бизнес-целей.
                            Осуществляя медиазакупки, мы стремимся к эффективности возможного бюджета.
                        {% endblocktrans %}
                    </span>
                </div>

                <div class="btn-modal">
                    <div class="button js-move-to-contacts">
                        <span>
                            {% trans 'Связаться с нами!' %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="js-modal-project" class="modal js-modal">
    <div class="modal__fade js-modal-fade"><div class="modal__wrapper-project">
            <div class="close close-project js-close">
                <i class="material-icons">clear</i>
            </div>

            <div class="content content-project">
{#                <div class="slider-wrap">#}
{#                    <div class="slider">#}
{#                        <!--div class="arrow arrow-left">#}
{#                            <i class="material-icons">keyboard_arrow_left</i>#}
{#                        </div>#}
{##}
{#                        <div class="arrow arrow-right">#}
{#                            <i class="material-icons">keyboard_arrow_right</i>#}
{#                        </div-->#}
{#                        <div class="shield-block"><!-- --></div>#}
{##}
{#                         <div class="slider-box _show">#}
{#                            <div class="slide _i-0">#}
{#                                <img src="https://hhcdn.ru/ichameleon/25919.jpg" alt="">#}
{#                                <!--div class="slide__text">#}
{#                                    У сотрудников всегда есть возможность отдохнуть или отвлечься на какое-то время#}
{#                                </div-->#}
{#                            </div>#}
{##}
{#                            <div class="slide _i-1">#}
{#                                <!--div class="slide__text">#}
{#                                    В Яндексе принято работать вместе в просторных комнатах или опенспейсах#}
{#                                </div-->#}
{#                                <img src="{% static 'pics/projects/test.jpg' %}" alt="">#}
{#                            </div>#}
{##}
{#                            <div class="slide _i-2">#}
{#                                <!--div class="slide__text">#}
{#                                    В дизайне офисов много ярких красок и необычных деталей#}
{#                                </div-->#}
{#                                <img src="https://hhcdn.ru/ichameleon/25915.jpg" alt="">#}
{#                            </div>#}
{##}
{#                            <div class="slide _i-3">#}
{#                                <!--div class="slide__text">#}
{#                                    Деловые встречи обычно проводятся в переговорных#}
{#                                </div-->#}
{#                                <img src="https://hhcdn.ru/ichameleon/25917.jpg" alt="">#}
{#                            </div>#}
{##}
{#                            <div class="slide _i-4">#}
{#                                <!--div class="slide__text">#}
{#                                    Работать в Яндексе можно где угодно — везде в офисах есть<br>Wi-Fi#}
{#                                </div-->#}
{#                                <img src="https://hhcdn.ru/ichameleon/25918.jpg" alt="">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <ul class="slider__thumbs">#}
{#                        <li class="_act">•</li>#}
{#                        <li>•</li>#}
{#                        <li>•</li>#}
{#                        <li>•</li>#}
{#                        <li>•</li>#}
{#                    </ul>#}
{#                </div>#}
                <div id="filmroll">

                </div>

                <div class="title">
                    <span>

                    </span>
                </div>

                <div class="text">
                    <span>

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="js-msg" class="modal js-modal">
    <div class="modal__fade js-modal-fade"><div class="modal__wrapper">
            <div class="close js-close">
                <i class="material-icons">clear</i>
            </div>

            <form method="POST" class="content content-msg-form">
                {% csrf_token %}
                <div class="content__column">
                    <div class="name msg-form-item">
                        <div class="errors">
                            {{ form.name.errors }}
                        </div>

                        <div class="input">
                            {{ form.name }}
                        </div>
                    </div>

                    <div class="email msg-form-item">
                        <div class="errors">
                            {{ form.email.errors }}
                        </div>

                        <div class="input">
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="theme msg-form-item">
                        <div class="errors">
                            {{ form.theme.errors }}
                        </div>

                        <div class="input">
                            {{ form.theme }}
                        </div>
                    </div>
                </div>

                <div class="message">
                    <div class="errors">
                        {{ form.message.errors }}
                    </div>

                    <div class="input">
                        {{ form.message }}
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="send-msg-success js-send-msg-success">
                    <span>

                    </span>
                </div>

                <div class="send-msg-error js-send-msg-error">
                    <span>

                    </span>
                </div>

                <div class="btn-modal">
                    <div class="button js-send-msg">
                        <span>
                            {% trans 'ОТПРАВИТЬ' %}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'distrs/slick/script.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'distrs/YTPlayer/jquery.mb.YTPlayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/build/script-portfolio.min.js' %}"></script>
{% endblock %}