@charset "UTF-8";
/* Slider */
.slick-loading .slick-list
{
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 150px;
    height: 350px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    border: none;
    outline: none;
    background: transparent;

    z-index: 1500;
}
.slick-prev .material-icons,
.slick-next .material-icons
{
    color: rgb(223, 223, 223);
    font-size: 70px;
    line-height: 0;
}
.slick-prev:hover .material-icons,
.slick-next:hover .material-icons
{
    color: rgb(177, 177, 177);
}
.slick-prev:hover,
/*.slick-prev:focus,*/
.slick-next:hover
/*.slick-next:focus*/
{
    outline: none;
    /* background: transparent; */ /* it was default */
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    /*content: '←';*/
}
[dir='rtl'] .slick-prev:before
{
    /*content: '→';*/
}
.slick-next
{
    right: 0;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    /*content: '→';*/
}
[dir='rtl'] .slick-next:before
{
    /*content: '←';*/
}
/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 14px;
    height: 14px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 14px;
    height: 14px;
    /*padding: 5px;*/

    cursor: pointer;

    color: rgba(101, 130, 255, 0.51);
    border-radius: 7px;
    outline: none;
    background: rgba(101, 130, 255, 0.51);

    border-style: none;
    border-color: transparent;
    border-image: none;
    border-width: 0;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    /*content: '•';*/
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.slick-dots li.slick-active button
{
    color: #6582FF;
    background-color: #6582FF;
}
.slick-slide img
{
    height: 350px;
}
.slick-slide iframe
{
    height: 350px;
    width: 500px;
}
@media screen and (max-width: 600px)
{
    .slick-prev,.slick-next
    {
        height: 200px;
        width: 50px;
    }
    .slick-slide img
    {
        height: 200px;
    }
    .slick-slide iframe
    {
        height: 200px;
        width: 300px;
    }
    .slick-prev .material-icons,
    .slick-next .material-icons
    {
        font-size: 50px;
    }
}
@media screen and (min-width: 1600px)
{
    .slick-prev,.slick-next
    {
        height: 500px;
        width: 200px;
    }
    .slick-slide img
    {
        height: 500px;
    }
    .slick-slide iframe
    {
        height: 500px;
        width: 700px;
    }
    .slick-prev .material-icons,
    .slick-next .material-icons
    {
        font-size: 75px;
    }
}
@media screen and (min-width: 1920px)
{
    .slick-prev,.slick-next
    {
        height: 500px;
        width: 200px;
    }
    .slick-slide img
    {
        height: 500px;
    }
    .slick-slide iframe
    {
        height: 500px;
        width: 900px;
    }
    .slick-prev .material-icons,
    .slick-next .material-icons
    {
        font-size: 75px;
    }
}
.slick-prev {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+99 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
.slick-next {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}