.header-admin
  display block
  opacity 1
  top 0

.form-custom
  margin 100px auto 50px auto
  padding 10px
  width 500px

.form__title
  margin-bottom 30px
  text-align center
  span
    font fontsize RobotoBold

.form__item
  margin-bottom 50px
  label
    font fontsize RobotoRegular
  .input
    input
      border 1px solid darkslategray
      font .9em RobotoRegular
      height 30px
      padding 5px
      width 400px
  .textarea
    textarea
      border 1px solid darkslategray
      font .9em RobotoRegular
      resize none
      padding 5px
      width 400px
  .error
    color red

.form__button
  text-align center

.btn-admin
  background fontcolorhover
  cursor pointer
  height 75px
  width 300px
  text-align center
  &:hover
    background-color mediumblue
  span
    font 1.5em RobotoBold

.btn-delete
  background-color orangered
  //width 150px
  &:hover
    background-color red