.photos
  padding 10px

.photos__title
  margin-bottom 30px
  text-align center
  span
    font fontsize RobotoBold

.photo
  border 1px solid dimgray
  float left
  margin 5px
  padding 5px
  text-align center
  .image
    height 200px
    width 200px
    img
      max-height 100%
      max-width 100%
  .check
    float left
  .btn-to-main
    cursor pointer
    display none
    float right
    right 0
    &:hover
      span
        text-decoration underline
    span
      font 12px RobotoRegular
  &[data-photo-main="False"]:hover .btn-to-main
    display block
  &[data-photo-main="True"]
    border 3px solid blue

.photos__delete
  clear both
  text-align center
