.projects
  margin 100px auto 0 auto
  width 700px
  //.projects__title
  //  margin-bottom 25px
  //  text-align center
  //  span
  //    font 18px RobotoBold

.project
  cursor auto
  margin-bottom 20px
  overflow auto
  width 100%
  a
    color fontcolor
    text-decoration none
    &:hover
      text-decoration underline
  .title
    float left
    width 600px
    span
      font fontsize RobotoRegular
  .check
    float left
    width 50px
  &:hover
    background lightblue
//  .edit
//    cursor pointer
//    display none
//    float left
//    i
//      font-size 16px
//.project:hover
//  background-color lightblue
//  .edit
//    display block

.projects__delete
  margin-bottom 100px
  text-align center
