commonwidth = 100%
featureiconsize = 100px
fontcolor = #3b3b3b
fontcolorhover = #00a8eb
fontsize = 1em
lineheight = 2em
maxwidth = 2000px
sliderheight = 350px

*
  border 0
  box-sizing border-box
  margin 0
  padding 0

html
  width commonwidth

body
  width commonwidth

.clearfix
  clear both

@font-face
  font-family RobotoRegular
  font-style normal
  src url(../../fonts/Roboto-Regular.ttf)

@font-face
  font-family RobotoMedium
  font-style normal
  src url(../../fonts/Roboto-Medium.ttf)

@font-face
  font-family RobotoBold
  font-style normal
  src url(../../fonts/Roboto-Bold.ttf)

@font-face
  font-family RobotoBlack
  font-style normal
  src url(../../fonts/Roboto-Black.ttf)

.errors
  color red
  font .8em RobotoRegular

//.wrapper
//  margin auto
//  max-width maxwidth
//  width commonwidth

.fade
  overflow auto

.hidden
  visibility hidden


.lang
  cursor pointer

.langform-normal
  line-height 4em

.langform-opacity
  line-height 7.7em

.langswitcher
  clear both
  padding-top 100px
  text-align center
  width 100%
  label
    color white
    font fontsize RobotoRegular
    transition-duration: 0.2s, 0.2s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
    -o-transition-duration: 0.2s, 0.2s, 0.2s;
    -moz-transition-duration: 0.2s, 0.2s, 0.2s;
    transition-property: all;
    &:hover
        color #87cefa