.header-normal
  background white
  box-shadow 0 15px 11px -15px #000000
  display none
  padding 12px 20px 0
  z-index 1500

.header-opacity
  background transparent
  padding 15px 20px 0
  z-index 1000
  @media all and (min-width 1000px)
    height 150px

.header
  height 75px
  position fixed
  width commonwidth
  @media all and (max-width 650px)
    height 50px
    padding 6px 20px 0
  @media all and (min-width 1920px)
    padding 12px 300px 0

.logo
  float left
  img
    height 50px
    @media all and (max-width 650px)
      height 35px

.logo-opacity
  img
    @media all and (min-width 1000px)
      height 100px

.menu
  float right
  @media all and (max-width 1250px)
    display none
  li
    color fontcolor
    cursor pointer
    float left
    list-style-type none
    margin-left 50px
    transition-duration: 0.2s, 0.2s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
    -o-transition-duration: 0.2s, 0.2s, 0.2s;
    -moz-transition-duration: 0.2s, 0.2s, 0.2s;
    transition-property: all;
    &:hover
      color fontcolorhover !important
  h1, h2
    font fontsize RobotoBold
    @media all and (min-width 1920px)
      font 1.2em RobotoBold
      line-height  3em
  a
    color darkred
    cursor pointer
    text-decoration none
    transition-duration: 0.2s, 0.2s, 0.2s;
    -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
    -o-transition-duration: 0.2s, 0.2s, 0.2s;
    -moz-transition-duration: 0.2s, 0.2s, 0.2s;
    transition-property: all;
    &:hover
      color #c82f6b

.menu-normal
  @media all and (max-width 1250px)
    display none
  h1, h2, a
    line-height 3.5em
    @media all and (min-width 1920px)
      line-height 3em

.menu-opacity
  h1, h2, a
    line-height 7em
    @media all and (min-width 1920px)
      line-height 6em

.menu-hamburger
  display none
  background white
  float none
  margin-top 75px
  padding 0 25px
  position fixed
  text-align center
  width 100%
  z-index 2000
  @media all and (max-width 650px)
    margin-top 50px
  @media all and (min-width: 1250px)
    display none !important

  li
    border-bottom 1px solid lightgrey
    float none
    margin 0
    @media all and (max-width 600px)
      font-size .8em
  h1, h2, a
    margin 15px 0
.hamburger
  color fontcolor
  cursor pointer
  display none
  float right
  &:hover
    color fontcolorhover !important
  @media all and (max-width: 1250px)
    display block
  i
    font-size 3em
    line-height 1.2em
    @media all and (max-width 650px)
      font-size 2.5em
      line-height 1em

.hamburger-opacity
  i
    @media all and (min-width 1000px)
      line-height 2em