{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" type="image/png" href="{% static 'pics/logo/logo-icon-16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'pics/logo/logo-icon-32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'pics/logo/logo-icon-64.png' %}" sizes="64x64">
    <link rel="icon" type="image/png" href="{% static 'pics/logo/logo-icon-96.png' %}" sizes="96x96">

    {% block title %}
        <title>
            NAF group
        </title>
    {% endblock %}

    {% block styles %}
        <link type="text/css" rel="stylesheet" href="{% static 'style/build/admin.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'distrs/iconfont/material-icons.css' %}">
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        {% block header %}
            <div class="header header-normal header-admin">
                <div class="logo">
                    <a href="{% url 'portfolio' %}">
                        <img src="{% static 'pics/logo/logo-big.png' %}" alt="NAF group">
                    </a>
                </div>

                <div class="menu menu-normal">
                    <ul>
                        <li data-menu-src="js-about">
                            <h1>
                                ПРО НАС
                            </h1>
                        </li>

                        <li data-menu-src="js-features">
                            <h1>
                                СЕРВИСЫ
                            </h1>
                        </li>

                        <li data-menu-src="js-portfolio">
                            <h1>
                                ПОРТФОЛИО
                            </h1>
                        </li>

                        <li data-menu-src="js-contacts">
                            <h1>
                                КОНТАКТЫ
                            </h1>
                        </li>

                        <li class="url-admin">
                            <h1>
                                <a href="{% url 'projects' %}">
                                    ВСЕ ПРОЕКТЫ
                                </a>
                            </h1>
                        </li>

                        <li class="url-admin">
                            <h1>
                                <a href="{% url 'create_project' %}">
                                    НОВЫЙ ПРОЕКТ
                                </a>
                            </h1>
                        </li>
                    </ul>
                </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'distrs/jquery-3.2.0.min.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>