{% extends 'admin/base_admin.html' %}
{% load staticfiles %}

{% block title %}
    <title>
        Изменение проекта {{ proj.title }} - NAF group
    </title>
{% endblock %}

{% block content %}
<div class="form-custom">
    <div class="form__title">
        <span>
            Редактирование проекта: {{ proj.title }}
        </span>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__item">
            <div class="error">
                {{ form.title.errors }}
            </div>

            <div class="label">
                {{ form.title.label_tag }}
            </div>

            <div class="input">
                {{ form.title }}
            </div>
        </div>

        <div class="form__item">
            <div class="error">
                {{ form.title_eng.errors }}
            </div>

            <div class="label">
                {{ form.title_eng.label_tag }}
            </div>

            <div class="input">
                {{ form.title_eng }}
            </div>
        </div>

        <div class="form__item">
            <div class="error">
                {{ form.text.errors }}
            </div>

            <div class="label">
                {{ form.text.label_tag }}
            </div>

            <div class="textarea">
                {{ form.text }}
            </div>
        </div>

        <div class="form__item">
            <div class="error">
                {{ form.text_eng.errors }}
            </div>

            <div class="label">
                {{ form.text_eng.label_tag }}
            </div>

            <div class="textarea">
                {{ form.text_eng }}
            </div>
        </div>

        <div class="form__item">
            <div class="error">
                {{ form.photos.errors }}
            </div>

            <div class="label">
                {{ form.photos.label_tag }}
            </div>

            <div class="files">
                {{ form.photos }}
            </div>
        </div>

        <div class="form__item">
            <div class="error">
                {{ form.video.errors }}
            </div>

            <div class="label">
                {{ form.video.label_tag }}
            </div>

            <div class="input">
                {{ form.video }}
            </div>
        </div>

        <div class="form__item">
            <div class="error">
                {{ form.date.errors }}
            </div>

            <div class="label">
                {{ form.date.label_tag }}
            </div>

            <div class="input">
                {{ form.date }}
            </div>
        </div>

        <div class="form__button">
            <button type="submit" class="btn-admin btn-done">
                <span>
                    Done!
                </span>
            </button>
        </div>
    </form>
</div>

<div class="photos">
    <div class="photos__title">
        <span>
            Файлы проекта
        </span>
    </div>

    <div class="photos__wrap">
        {% for photo in photos %}
            <div class="photo" data-photo-main="{{ photo.main_photo_flag }}" data-photo-id="{{ photo.id }}">
                <div class="image">
                    <img src="{{ MEDIA_URL }}{{ photo.photo.url }}" alt="Project photo">
                </div>

                <div class="check">
                    <input type="checkbox" value="{{ photo.id }}">
                </div>

                <div class="btn-to-main js-make-main" data-photo-id="{{ photo.id }}">
                    <span>
                        Сделать главной
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="photos__delete">
        <button type="submit" class="btn-admin btn-delete js-btn-photos-delete">
            <span>
                Удалить фотографии
            </span>
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/build/script-admin.min.js' %}"></script>
{% endblock %}