{% extends 'admin/base_admin.html' %}
{% load staticfiles %}

{% block title %}
    <title>
        Проекты NAF group
    </title>
{% endblock %}

{% block content %}
<div class="projects">
    <div class="form__title">
        <span>
            Все проекты
        </span>
    </div>

    <div class="projects__wrap">
        {% for project in projects %}
            <div class="project">
                <div class="title">
                    <a href="{% url 'edit_project' project.pk %}" title="Редактировать">
                        <span>
                            {{ project.title }}
                        </span>
                    </a>

                </div>

                <div class="check">
                    <input type="checkbox" value="{{ project.id }}">
                </div>

{#                <div class="edit">#}
{#                    <a href="{% url 'edit_project' project.pk %}">#}
{#                        <i class="material-icons">edit</i>#}
{#                    </a>#}
{#                </div>#}
            </div>
        {% endfor %}
    </div>

    <div class="projects__delete">
        <button type="submit" class="btn-admin btn-delete js-btn-projects-delete">
            <span>
                Удалить проекты
            </span>
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/build/script-admin.min.js' %}"></script>
{% endblock %}